aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
amqp==5.1.1
annotated-types==0.6.0
anyio==4.4.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
beautifulsoup4==4.12.2
billiard==4.1.0
blis==0.7.11
boto3==1.34.23
botocore==1.34.23
catalogue==2.0.10
celery==5.3.1
certifi==2023.7.22
cffi==1.16.0
channels==4.0.0
channels-redis==4.1.0
charset-normalizer==3.2.0
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.16.0
confection==0.1.4
constantly==15.1.0
contourpy==1.2.1
coreapi==2.3.3
coreschema==0.0.4
cryptography==41.0.7
cycler==0.12.1
cymem==2.0.8
daphne==4.0.0
decorator==4.4.2
distro==1.9.0
dj-database-url==2.1.0
Django==4.2.9
django-allauth==0.63.6
django-cors-headers==4.2.0
django-filter==23.2
django-quill-editor==0.1.40
django-rest-swagger==2.2.0
django-storages==1.14.2
djangorestframework==3.14.0
dnspython==2.6.1
drf-extra-fields==3.7.0
et-xmlfile==1.1.0
filelock==3.15.4
filetype==1.2.0
fonttools==4.51.0
frozenlist==1.4.0
fsspec==2024.6.1
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
hyperlink==21.0.0
idna==3.4
imageio==2.34.0
imageio-ffmpeg==0.4.9
incremental==22.10.0
itypes==1.2.0
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
kiwisolver==1.4.5
kombu==5.3.1
langcodes==3.4.0
language_data==1.2.0
lxml==4.9.3
marisa-trie==1.1.1
MarkupSafe==2.1.3
matplotlib==3.8.4
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
murmurhash==1.0.10
mysqlclient==2.2.0
networkx==3.3
nltk==3.8.1
numpy==1.26.1
nylas==5.14.1
openai==1.37.1
openapi-codec==1.3.2
openpyxl==3.1.2
pandas==2.1.2
Pillow==10.1.0
preshed==3.0.9
proglog==0.1.10
prompt-toolkit==3.0.39
psycopg2-binary==2.9.9
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.7.1
pydantic_core==2.18.2
PyJWT==2.8.0
pymemcache==4.0.0
pymongo==4.7.2
pyOpenSSL==23.2.0
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
pywin32==305.1
pyzmq @ file:///C:/b/abs_89aq69t0up/croot/pyzmq_1705605705281/work
redis==5.0.0
regex==2023.12.25
requests==2.31.0
s3transfer==0.10.0
seaborn==0.13.2
sentry-sdk==2.0.1
service-identity==23.1.0
simplejson==3.19.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open==6.4.0
sniffio==1.3.1
soupsieve==2.5
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.30
sqlparse==0.4.4
srsly==2.4.8
stripe==5.5.0
sympy==1.13.1
thinc==8.2.3
torch==2.4.0+cpu
torchaudio==2.4.0+cpu
torchvision==0.19.0
tqdm==4.66.2
Twisted==23.8.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typer==0.9.4
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.4
URLObject==2.4.3
uvicorn==0.23.1
vine==5.0.0
wasabi==1.1.2
weasel==0.3.4
websocket-client==0.59.0
yarl==1.9.2
zope.interface==6.0
